@base("Join") {
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/join.css")">
} {
	<script src="@routes.Assets.at("js/join.js")" type="text/javascript"></script>
} {
    <div class="container">

      <form id="joinForm" class="form-signin" role="form" action="/join">
        <h2 class="form-signin-heading">Join</h2>
        <input type="text" class="form-control" placeholder="Email address" name="email" required autofocus>
        <input type="password" class="form-control" placeholder="Password" name="pass" required>
        <input type="password" class="form-control" placeholder="Password again" name="passCopy" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Join</button>
      </form>
	  <div id="result" align="center" class="resultError"></div>
    </div> <!-- /container -->   
}
