@base("Log In") {

    <script>
		// Attach a submit handler to the form
		$( "#signinForm" ).submit(function( event ) {
		 
		  // Stop form from submitting normally
		  event.preventDefault();
		  
		  // Get some values from elements on the page:
		  var $form = $( this ),
		    email_v = $form.find( "input[name='email']" ).val(),
		    pass_v = $form.find( "input[name='pass']" ).val(),
		    url_v = $form.attr( "action" );
		  
		  // Send the data using post
		  var posting = $.ajax({
		  url : url_v, 
		  data : JSON.stringify({ email: email_v, pass : pass_v }),
		  contentType : "application/json;charset=utf-8",
		  type : "POST"});
		 
		  // Put the results in a div
		  posting.complete(function( data ) {
		  });
		});
	</script>
} {
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/login.css")">
    <div class="container">

	  <form id="signinForm" class="form-signin" role="form" action="/login" method="post">
	    <h2 class="form-signin-heading">Log In</h2>
	    <input type="text" class="form-control" placeholder="Email address" name="email" required autofocus>
	    <input type="password" class="form-control" placeholder="Password" name="pass" required>
	    <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
	  </form>
    </div> <!-- /container -->
}
