@(title: String = "Host", hostId: String = "", error : String = "")(style : Html = Html(""))(scripts: Html = Html(""))(content: Html = Html(""))
@base(title){
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/host.css")">
	@style
} {
	<script src="@routes.Assets.at("js/host.js")" type="text/javascript"></script>
	@scripts
} { 
	@if(!error.isEmpty()) {
		<p>Host id is @hostId<span class="stringError">@error<span></p>
	} else {
		<p class="titles">Host id is <a id="hostId" href="/host/@hostId">@hostId</a></p>
		<a href="/host/@hostId/screenshots">Screenshots</a>
		<a href="/host/@hostId/kbevents">Keyboard events</a>
		@content
	}
}